body{
    text-align:center;
    background-color: rgb(2, 2, 71);
}
h1{
    color: rgb(225, 234, 178);
    font-size:80px;
    margin:5%;
    font-family: cursive;
}
.container{
    text-align: center;
    display:block;
    width:50%;
    margin:auto;
}
button{
    padding:80px 80px;
    margin:1rem;
    border-radius: 20%;
    border: 5px solid black;
}
.red{
    background-color: red;
}
.blue{
    background-color: blue;
}
.green{
    background-color: green;
}
.yellow{
    background-color: yellow;
}
.pressed{
   /* border:10px double white;*/
   box-shadow: 0 0 20px white;
   background-color: grey;
}
.gameOver{
    background-color: red;
    opacity:0.8;
}